@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: #282C33;
}


.header {
    width: 66.8rem;
    height: 64px;
    background-color: #282C33;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;


}

header a {

    font-family: "Fira Code", monospace;
    color: gray;
}

.header__nome__dev a {
    display: flex;
    font-family: "Fira Code", monospace;
    color: white;
    gap: 3px;

}

.home a {
    color: white;
}

.navbar {
    display: flex;
    gap: 32px;

}

/* //////////////////////////////////////////////// fim do header /////////////////////////////////////////////////////////////////// */


/* inicio main container */

.container {
    width: 66.8rem;
    height: 423px;
    margin: 43px auto;

    display: flex;
    align-items: center;

}

.container__descriptions {
    width: 33.5rem;
    height: 227px;
    font-size: 2rem;
    font-family: "Fira Code", monospace;
    color: white;
}

.container__descriptions__destaque {
    color: #C778DD;
}

.container__descriptions__destaque__hardskils {
    width: 28.9rem;
    height: 50px;
    font-size: 1rem;
    margin-top: 32px;
    color: #ABB2BF;
}

.container input {
    background-color: #282C33;
    color: white;
    padding: 8px 16px;
    border: solid 1px #C778DD;
    font-family: "Fira Code", monospace;
}

.container__imagem__dev {
    width: 29.3rem;
    height: 415px;
    background-image: url('/project/imagem/dev.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: auto;
    display: grid;
    align-content: end;
    position: relative;



}

.container__imagem__dev__dots {
    position: absolute;
    left: 80%;
    top: 60%;
}

.container__imagem__dev__currently {
    width: 25.1rem;
    height: 37px;
    border: solid 1px #C778DD;
    margin: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-family: "Fira Code", monospace;
    color: #ABB2BF;

}

.container__imagem__dev__currently__quadrado {
    width: 1rem;
    height: 16px;
    margin: 0 10px 0 8px;
}

.Currently {
    color: white;
}

/* ////////////////////////////////////////////////// fim do container /////////////////////////////////////////////////////////////*/

/* inicio container2 */

.container2 {
    width: 45.6rem;
    height: 95px;
    border: solid 1px #ABB2BF;
    margin: 9rem auto;
}

.m1 {
    width: 2.5rem;
    height: 28.7px;
    background-color: #282C33;
    position: relative;
    bottom: 18.3px;
    left: 11px;


}

.m1 img {
    margin: 8px 4px;
}

.container2 p {
    color: white;
    font-family: "Fira Code", monospace;
    text-align: center;
    font-size: 1.5rem;
}

.m2 {
    width: 2.5rem;
    height: 28.7px;
    position: relative;
    left: 42rem;
    top: 19px;
    background-color: #282C33;
    z-index: 2;

}

.doct {
    width: 10.1rem;
    height: 63px;
    border: solid 1px #ABB2BF;
    position: relative;
    float: right;
    right: 5px;
    top: 5px;
    z-index: 1;

}

.doct p {
    padding: 1rem;

}

.m2 img {
    margin: 5px;
}






/* ///////////////////////////////////////////////////fim container2////////////////////////////////////////////////////////////////// */

/* inicio container3 */

.container3 {
    width: 64.1rem;
    height: 518px;
    margin: auto;
    
}

.container3__project{
    width: 99.9%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container3__project__1{
    font-size: 32px;
    display: flex;
    font-family: "Fira Code", monospace;
    color: white;
    gap: 1px;
}

.line{
    width: 31.1rem;
    height: 0.1px;
    border: solid  #C778DD 1px;
    margin: 16px 20.5px;
}

.view_all{
    font-size: 1rem;
    font-family: "Fira Code", monospace;
    color: white;

}
.box{
    display: flex;
    gap: 16px;
    margin-top: 48px;
    
    /*///////////////////////////////////////////////////////////// incio box1 ///////////////////////////////////////////////////// */
}

.box1{
    width: 20.6rem;
    height: 391px;
    border: 1px solid #ABB2BF;
    display: flex;
    flex-direction: column;
    
}

.hard1{
    width: 19.6rem;
    display: flex;
    font-family: "Fira Code", monospace;
    color:  #ABB2BF;
    border-bottom: solid 1px #ABB2BF;
    gap: 8px; 
    padding: 8px;
    
}

.box__chertnodes{
    width: 18.6rem;
    height: 31px;
    color: white;
    font-size: 1.5rem;
    margin: 16px;
    font-family: "Fira Code", monospace;

}

.minecraft{
    margin: 0 16px;
    color: #ABB2BF;
    font-family: "Fira Code", monospace;
    font-size: 1rem;

}

.inputs{
    width: 15.2rem;
    height: 37px;
    margin: 16px 16px;
    display: flex;
    gap: 16px;
    
}

.inputs input{
    width: 6.8rem;
    height: 37px;
    background-color: #282C33;
    
}

.live{
    border: solid 1px #C778DD;
    color:white ;
}

.cached{
    border: solid 1px #ABB2BF;
    color: #ABB2BF;
}

/* ////////////////////////////////////////////////////////////fim box1 /////////////////////////////////////////////////////////////// */

/* inicio box2 */
.box2{
    width: 20.6rem;
    height: 428px;
    border: 1px solid #ABB2BF;
    font-size: 1.5rem;
  
}

.box2__protect{
    width: 20.1rem;
    height: 4.6rem;
    border-bottom: solid 1px #ABB2BF;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    color: #ABB2BF;
    gap: 8px;
    font-family: "Fira Code", monospace;
    padding-left: 8px;
}

.protect{
    font-family: "Fira Code", monospace;
    font-size: 1.5rem;
    color: white;
    padding: 16px 0 0 16px;
}

.Discord{
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    color: #ABB2BF;
    padding: 16px;
}

.input__protect{
    width: 6.6rem;
    height: 37px;
    border: #ABB2BF solid 1px;
    background-color: #282C33;
    color: white;
    margin: 0 0  16px 16px;
    font-family: "Fira Code", monospace;
}

/*///////////////////////////////////////////////////////////// fim box 2/////////////////////////////////////////////////////// */

/* inicio box3 a class do input box2 foi reutilizada para o input box3 */


.box3{
    width: 20.6rem;
    height: 422px;
    border: 1px solid #ABB2BF;
}

.kahoot{
    width: 18.6rem;
    height: 62px;
    margin: 16px;
    font-size: 1.5rem;
    color: white;
    font-family: "Fira Code", monospace;
}

.box3>p{
    font-size: 1rem;
    font-family: "Fira Code", monospace;
    color: #ABB2BF;
    padding: 0 0 16px 16px;
} 

/* ///////////////////////////////////////////////////////////// fim box3 ////////////////////////////////////////////////////// */


